export PRIVATE_KEY=0xa016a9084f54d1c0503f0560aeeefa5e592d9ef23a3d58602d74e7cc0702df29
export BASE_SEPOLIA_URL=https://base-sepolia.g.alchemy.com/v2/jIc8IRukZNZv7bs6suWihnYii13CD-rQ
export BASE_ETHERSCAN_API_KEY=7Y823V9IH7T2QZ9PMT5J7UEYAWUP2X38VI
